.container-admin{
   
    background: #835afd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    > p {
        margin: 0 8px;
        font: 700 20px "Poppins", sans-serif;
    }
}

.main {
    flex: 1;
    display: flex;
    //justify-content: center;
    align-items: center;
    top: 0;
}

#divider{
    margin: 1px;
    width: 100%;
}

.menu-container{
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 2px;
}
