* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body,
input,
button,
textarea {
    font: 400 16px "Roboto", sans-serif;
}

#home-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    form {
        input {
            height: 50px;
            border-radius: 8px;
            padding: 0 16px;
            background: #fff;
            border: 1px solid #a8a8b3;
            margin-bottom: 5px;
        }
        button {
            margin-top: 16px;
        }

        button,
        input {
            width: 100%;
        }
    }

    aside {
        flex: 7;
        background: #835afd;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        max-width: 40%;
        
 
        padding: 120px 80px;

        strong {
            font: 700 30px "Poppins", sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }
    }

    main {
        flex: 8;
        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;
        
        strong {
            font: 700 30px "Poppins", sans-serif;
            line-height: 42px;
            margin-top: 16px;
            align-self: start;
        }
    }
}

